:root {
  --bg: #282c34;
  --header: #fff;
  /* --link: #61dafb; */
  --text: hsla(0, 0%, 100%, 0.88);
}

.form {
  font-weight: bold;
}

.navbarStyles {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 1%;
  padding-right: 2%;
}

.navbarStyles a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}

.navbarStyles a:hover {
  font-weight: bold;
}

.navbarStyles a:visited {
  font-weight: bold;
}

.navbar-links {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 120%;
  /* height: 5%; */
  align-items: center;
  z-index: 10;
}

.dropdown {
  position: relative;
  float: right;
  /* z-index: 100; */
}

.dropdown .dropdown-content {
  padding-left: 20px;
  margin-right: -10px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #dbb37f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  display: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "arial", monospace;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-size: cover;
  background-position: center top;
}
/* Default styles for larger screens */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid var(--link); */
  /* padding: 20px; */
  max-width: 60%;
  width: 60%;
  margin: 0 auto;
  color: black;
}

.flex-container > * {
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: black;
  /* margin: 10px; */
}

.drink-container {
  max-width: 100%;
  min-width: 60%;
  background-color: white;
}

#drink-display-image {
  max-width: 100%;
  height: 100%; /* Set a fixed height for your images */
  object-fit: cover; /* Adjust this property as needed */
}

#instructions {
  overflow: hidden;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .flex-container {
    width: 90%; /* Adjust width for smaller screens */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .flex-container > * {
    padding: 5px; /* Reduce padding for smaller screens */
    margin: 5px; /* Reduce margin for smaller screens */
  }
}

.new-drink-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  margin: 0 auto;
  padding: 3%;
  border: 1px solid white;
  background-color: white;
  border-radius: 8px;
  opacity: 0.8;
}

.new-drink-form input,
.new-drink-form textarea,
.new-drink-form p {
  margin-bottom: 5%;
}

/* Optional: Style the submit button */
.new-drink-form input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#search-box {
  margin-top: 5%;
  text-align: center;
  color: white;
}

#search-text {
  color: white;
}

#drink-search-padding {
  padding-top: 80%;
}

.social-icons {
  /* display: inline-flex; */
  /* justify-content: space-between; */
  transform: translateX(40%) translateY(0%);
  width: 25%;
  /* height: 10%; */
  align-items: center;
  /* float: right; */
  margin-top: 0.5%;
  margin-right: 5%;
}

#facebook {
  width: 8%;
}

#twitter {
  width: 13%;
}

#instagram {
  width: 11%;
}

#navbar-logo-container {
  width: 40%;
}

#navbar-logo {
  width: 70%;
}

.home-page-1-container {
  max-width: 100%;
  height: auto;
  max-height: 60%;
}

#home-page-1 {
  position: relative;
  max-width: 120%;
  max-height: 60%;
  margin-left: 5%;
  margin-right: 15%;
}

#mixing-button-image {
  width: 15%;
  position: absolute;
  max-width: 60%;
  bottom: 5%;
  transform: translateX(35%) translateY(-180%);
  z-index: 20;
}

#bartender-image {
  position: relative;
  max-width: 95%;
  margin-left: 5%;
  margin-right: 15%;
}

.row-1 {
  display: flex;
}

#speech-trainer-main-logo {
  transform: translateX(-8%);
  padding-top: 15%;
  width: 120%;
}

#home-kids-image-1 {
  transform: translateX(-25%) translateY(2%);
  width: 190%;
}

#home-level-up-image {
  width: 100%;
  max-width: 150%;
}

#home-page-2 {
  padding-left: 5%;
  padding-right: 2%;
  padding-top: 5%;
  padding-bottom: 2%;
  background-color: white;
}

#home-learning-center-image {
  width: 100%;
  position: absolute;
  background-color: white;
  max-width: 100%;
  /* max-height: 100%; */
}

.row-3 {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}

#video-speech-trainer-logo {
  max-width: 100%;
}

#first-words-logo {
  max-width: 100%;
  transform: translateY(1%);
}

#games-logo {
  max-width: 95%;
  transform: translateX(0%) translateY(7%);
}

.row-4 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

#cocktail-generator-image {
  max-width: 80%;
  /* display: block; */
  /* margin: 0 auto; */
  transform: translateX(20%) translateY(0%);
}

#cocktail-search-image {
  max-width: 80%;
  /* display: block; */
  /* margin: 0 auto; */
  transform: translateX(12%) translateY(0%);
}

#mocktail-search-image {
  max-width: 80%;
  /* display: block; */
  /* margin: 0 auto; */
  transform: translateX(-10%) translateY(0%);
}

#footer-main-image {
  position: relative;
  max-width: 100%;
  width: 100%;
  /* margin-left: 5%; */
  /* margin-right: 15%; */
}

#footer-cocktail-image {
  max-width: 100%;
  width: 25%;
  display: block;
  margin: 0 auto;
  transform: translateX(0%) translateY(-440%);
  position: relative;
}

.footer-social-icons {
  display: inline-flex;
  /* justify-content: space-between; */
  transform: translateX(280%) translateY(-180%);
  width: 25%;
  height: 10%;
  align-items: center;
  float: left;
  margin-top: 0.5%;
  margin-right: -125%;
  position: relative;
  overflow: hidden;
  margin-trim: inline;
  z-index: 100;
}

#facebook-footer {
  width: 33%;
  float: right;
  transform: translateX(450%);
}

#twitter-footer {
  width: 33%;
  float: right;
  transform: translateX(0%);
}

#instagram-footer {
  width: 33%;
  float: right;
  transform: translateX(180%);
}

#footer-ready-image {
  width: 30%;
  transform: translateX(10%) translateY(-150%);
}

#footer-start-mixing-image {
  width: 20%;
  transform: translateX(-140%) translateY(-250%);
}

#footer-email-list-image {
  width: 30%;
  transform: translateX(-50%) translateY(-320%);
}

#footer-get-social-image {
  width: 10%;
  transform: translateX(-100%) translateY(-1050%);
}

/* #navbar-logo-container {
  width: 40%;
}

#navbar-logo {
  width: 70%;
} */

#create-cocktail-logo {
  width: 50%;
  height: 20%;
  /* position: sticky; */
  margin-top: 0%;
  transform: translateX(48%);
}

#spirits-logo-container {
  text-align: center;
}

#spirits-logo {
  width: 70%;
  /* height: 20%; */
  /* position: sticky; */
  margin-top: -30%;
  /* transform: translateX(20%); */
}

.spirit-buttons {
  margin-top: -15%;
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap to the next line */
  justify-content: flex-start; /* Align images to the start of each line */
}

.spirit-item {
  width: 25%; /* Each item takes up 25% of the container width to create two rows with 4 items each */
  max-width: 25%; /* Ensure images don't exceed their container */

  text-align: center;
}

#spirit-buttons {
  width: 100%; /* Adjust this as needed based on your layout */
  max-width: 100%; /* Ensure images don't exceed their container */
  height: auto; /* Maintain the aspect ratio of the images */
}

#liqueur-logo {
  width: 60%;
  /* height: 20%; */
  /* position: sticky; */
  margin-top: -10%;
  transform: translateX(30%);
}

#no-drinks-message {
  color: white;
  text-align: center;
}

#unfavorite-button,
#favorite-button,
#edit-button,
#delete-button {
  width: 40%;
}

#user-favorites {
  color: white;
  text-align: center;
}

#logout-screen {
  padding-left: 15%;
  padding-top: 2%;
}

#login-form {
  padding-left: 5%;
  position: sticky;
}

#login-email {
  padding-left: 2.1%;
  position: sticky;
}

#login-button {
  padding-left: 14%;
}

#create-account-container {
  color: white;
  font-weight: bold;
  padding: 3%;
}

#create-account-link {
  color: white;
}

#login-link-text {
  color: white;
  font-weight: bold;
  padding-left: 4%;
  padding-top: 3%;
}

#login-link {
  color: white;
  font-weight: bold;
  padding-left: 4%;
  padding-bottom: 5%;
}

#create-account-form {
  padding-bottom: 15%;
}
